<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet" href="/bootstrap/css")
        script(src="/jquery")
        script(src="/popper")
        script(src="/bootstrap/js")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Weather Bot

        link(rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")

    body: div(class="container body-content")
        h2 Weather Conditions
        br

        table(class="table table-striped" id="tblWeather")
            thead: tr
                th(scope="col") Date
                th(scope="col") City
                th(scope="col") Temperature Low (&deg;F)
                th(scope="col") Temperature High (&deg;F)
                th(scope="col") 
            tbody(id="wtr-contents")
                each entry in data
                    tr
                        td(id= "date")= entry.dt
                        th(scope="row")= entry.name 
                        td= entry.main.temp_min
                        td= entry.main.temp_max
                        td: a(href="/details/"+entry._id) Details

        br
        button(type="button" class="btn btn-primary" id="btnSubmit") Get My Weather
        p(style='text-align: right;') *Rain &amp; Snow Conditions are from the last 3 hours from the time the data was collected.
    script.
        $(document).ready(() => {
            $("#tblWeather").DataTable()
            $("#btnSubmit").click(request)   
                 })

        function request() {
            debugger
            if ("geolocation" in navigator){
                navigator.geolocation.getCurrentPosition(position => {
                    let lat = position.coords.latitude
                    let lon = position.coords.longitude
                    let data = { lat: lat, lon: lon }
                    $.ajax({
                        type: "POST",
                        url: "/getweather",
                        contentType: "application/json",
                        data: JSON.stringify(data),
                        success: resData => location.href = "/details/" + resData
                    })
                })
            } else {
                alert("Location Unavailable")
            }
        }
script(src="scripts/timestampToDate.js")
script(src="scripts/app.js")