<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet" href="/bootstrap/css")
        script(src="/jquery")
        script(src="/popper")
        script(src="/bootstrap/js")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Weather Bot

        link(rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css")
        script(src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")

    body: div(class="container body-content")
        h2 Weather Conditions
        br

        table(class="table table-striped" id="tblWeather")
            thead: tr
                th(scope="col") Location
                th(scope="col") Weather Condition
                th(scope="col") Current Temperature (&deg;F)
                th(scope="col") Temperature Low (&deg;F)
                th(scope="col") Temperature High (&deg;F)
                th(scope="col") Wind
                th(scope="col") Cloudiness (%)
                th(scope="col") Rain (mm)
                th(scope="col") Snow (mm)
            tbody(id="wtr-contents")

        br
        button(type="submit" class="btn btn-primary" id="btnSubmit") Get My Weather
    script.
        $(document).ready(() => {
            $("#tblWeather").DataTable()
            $("#btnSubmit").click(request)
        })

        function request() {
            if ("geolocation" in navigator){
                navigator.geolocation.getCurrentPosition(position => {
                    let lat = position.coords.latitude
                    let lon = position.coords.longitude
                    let data = { lat: lat, lon: lon }
                    $.ajax({
                        type: "POST",
                        url: "/getweather",
                        contentType: "application/json",
                        data: JSON.stringify(data)
                    })
                })
            } else {
                alert("Location Unavailable")
            }
        }
